{{>header user=this.user}}
<!-- banner part start-->
{{>header user=this.user}}
<section class="banner_part register-section">
    <link rel="stylesheet" href="css/khaleo.css">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="banner_text">
                    <div class="banner_text_iner">
                        <h1>It's so easy to convert your voice to document</h1>
                        <img class="landing" src="img/about_img.png" alt="">

                    </div>
                </div>
            </div>
            <div class="col-lg-5 signupform">

                <div class="banner_img d-none d-lg-block">
                    <form class="inputform" method="POST" action="/register">
                        <img class="logo" src="/img/logo.png" alt="logo">
                        <div class="mt-10">
                            <input type="email" placeholder="Your email" name="email" onfocus="this.placeholder = ''"
                                onblur="this.placeholder = 'Your email'" required class="single-input">
                        </div>
                        <div class="mt-10">
                            <input type="password" name="password" id="password" placeholder="Password"
                                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'" required
                                minlength="6" class="single-input">
                        </div>
                        <div class="mt-10">
                            <input type="password" name="confirm_password" id="confirm_password"
                                placeholder="Confirm Password'" onfocus="this.placeholder = ''"
                                onblur="this.placeholder = 'Confirm Password'" onkeyup="checkPass()" required
                                class="single-input">
                        </div>
                        <button class="btn_2 banner_btn_2 signupBtn" type="submit" placeholder="Sign up" value="Sign up"
                            id="submitButton">Sign
                            up</button>

                        <div class="mt-30">
                            <label style="color: white;">Or sign up with</label>
                            <div class="group-social-button">
                                <a href="./login/auth/google" class="btn_2 banner_btn_2 signupBtn" placeholder="Google"
                                    value="Google">
                                    <span class="social-icon"><img src="img/social-icons/google.png" width="35px"
                                            height="35px" alt=""></span>
                                    Google</a>
                                <a href="./login/auth/facebook" class="btn_2 banner_btn_2 signupBtn"
                                    placeholder="Facebook" value="Facebook">
                                    <span class="social-icon"><img src="img/social-icons/facebook.png" width="35px"
                                            height="35px" alt=""></span>
                                    Facebook</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner part end-->
<script type="text/javascript">
    function checkPass() {
        var pass1 = document.getElementById('password');
        var pass2 = document.getElementById('confirm_password');
        if (pass1.value != pass2.value) {
            pass2.setCustomValidity("Confirm password did't match.");
        }
        else {
            pass2.setCustomValidity("");
        }
    }
</script>
{{>footer}}