<!--::header part start::-->
<header class="main_menu home_menu">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a href="/"><img class="logo" src="/img/logo.png" alt="logo"></a>
          <div class="collapse navbar-collapse main-menu-item" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/apidoc">API Doc</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/packages">Packages</a>
              </li>
              {{!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown" role="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Blog
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="blog.html"> blog</a>
                  <a class="dropdown-item" href="single-blog.html">Single blog</a>
                </div>
              </li> --}}
              {{!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown1" role="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  pages
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                  <a class="dropdown-item" href="elements.html">Elements</a>
                </div>
              </li> --}}
              {{!-- <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact</a>
              </li> --}}
            </ul>
          </div>
          <div class="collapse navbar-collapse main-menu-item main-menu-item-user" id="userInfo">
            <ul class="navbar-nav">
              {{#if user}}
              <li class="nav-item dropdown">

                <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown" role="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{user.name}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/profile">User Info</a>
                  <a class="dropdown-item" href="/logout">Log out</a>
                </div>
              </li>
              {{else }}
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
              {{/if}}
            </ul>
          </div>
      </div>
      </nav>
    </div>
  </div>
  </div>
  {{!-- <div class="search_input" id="search_input_box">
      <div class="container ">
        <form class="d-flex justify-content-between search-inner">
          <input type="text" class="form-control" id="search_input" placeholder="Search Here">
          <button type="submit" class="btn"></button>
          <span class="ti-close" id="close_search" title="Close Search"></span>
        </form>
      </div>
    </div> --}}
</header>
<!-- Header part end-->