{{>header user=this.user}}
<!-- banner part start-->
{{>header user=this.user}}

<section class="breadcrumb breadcrumb_bg userInfo">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner text-center">
                    <div class="breadcrumb_iner_item">
                        <h2 class="userInfo">User Information</h2>
                        <form method="POST">
                            <div class="formElement">
                                <label style="float: left;" for="username">Your email</label>
                                <input style="background-color: antiquewhite;" id="username" value="{{user.email}}"
                                    readonly type="text" placeholder="Name" onfocus="this.placeholder = ''"
                                    onblur="this.placeholder = 'Email'" required class="single-input">
                            </div>
                            <div class="formElement">
                                <label style="float: left;" for="username">Your name</label>
                                <input id="username" name="name" value="{{user.name}}" type="text" placeholder="Name"
                                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Name'" required
                                    class="single-input">
                            </div>
                            <div class="formElement">
                                <button type="submit" class="btn_2 banner_btn_2 saveInfo" placeholder="Save"
                                    value="">Save</button>
                            </div>
                            {{#if (if_eq user.role "user")}}
                            <div class="formElement">
                                <a href="/recoverPassword" class="btn_2 banner_btn_2 saveInfo"
                                    placeholder="Change password" value="">Change password</a>
                            </div>
                            {{/if}}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->

{{>footer}}