{{>header user=this.user}}
<!-- banner part start-->
{{>header user=this.user}}

<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner text-center">
                    <div class="breadcrumb_iner_item">
                        <h2>Price</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->

<!-- pricing part start-->
<section class="pricing_part section_padding single_page_pricing">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_tittle text-center">
                    <h2>Simple Pricing</h2>

                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            {{#each  listKey}}
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="single_pricing_part">
                    <img src="img/icon/feature_icon_3.png" alt="">
                    <p>{{name}}</p>
                    <h3>{{price}} VND<span>/{{term}}</span></h3>
                    <ul>
                        <li>{{term}}</li>
                        <li>{{limitNumberOfReq}} Request Limit</li>
                        <li>24/7 Support</li>
                    </ul>
                    <a href="#" class="btn_1">Buy</a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    <img src="img/left_sharp.png" alt="" class="left_shape_1">
    <img src="img/animate_icon/Shape-1.png" alt="" class="feature_icon_1">
    <img src="img/animate_icon/shape.png" alt="" class="feature_icon_4">
</section>
<!-- pricing part end-->


{{>footer}}